In [1]:
import pandas as pd
import numpy as np

# PANDAS SERIES

pandas series is like a column in a table.it a 1 D array holding any type of data.

# CREATING SERIES USING LIST

In [2]:

country=['india','pakistan','bhutan','china','bangladesh']

In [3]:
#creating a series
df=pd.Series(country)

In [4]:
df

0         india
1      pakistan
2        bhutan
3         china
4    bangladesh
dtype: object

In [5]:
#integer
num=[34,54,6,7,9,3]
pd.Series(num)

0    34
1    54
2     6
3     7
4     9
5     3
dtype: int64

In [6]:
#custom index
marks=[78,98,89,78]
subjects=['math','science','hindi','english']
pd.Series(marks,index=subjects)

math       78
science    98
hindi      89
english    78
dtype: int64

In [7]:
pd.Series(marks,index=subjects,name='azhar marks')

math       78
science    98
hindi      89
english    78
Name: azhar marks, dtype: int64

# CREATING SERIES USING DISCTIONARY

In [8]:
DICT={
    'MATH': 90,
    'SCIENCE':98,
    'URDU':94
}

In [9]:
marks_series=pd.Series(DICT)

# SERIES ATTRIBUTES

In [10]:
# SIZE
marks_series.size

3

In [11]:
# dtype 
marks_series.dtype

dtype('int64')

In [12]:
# name
marks_series.name

In [13]:
# isunique
marks_series.is_unique

True

In [14]:
#index
marks_series.index

Index(['MATH', 'SCIENCE', 'URDU'], dtype='object')

In [15]:
# values
marks_series.values

array([90, 98, 94], dtype=int64)

# series using read_csv

In [16]:
# with one col
df=pd.read_csv('subs.csv',squeeze=True)

In [17]:
df

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [18]:
# with two col
pd.read_csv('kohli_ipl.csv',index_col='match_no',squeeze=True)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [19]:
#astype
import sys
sys.getsizeof(df)

3064

In [20]:
sys.getsizeof(df.astype('int16'))

874

In [21]:
#between
df[df.between(25,99)]

0      48
1      57
2      40
3      43
4      44
       ..
180    93
184    76
209    91
210    97
211    98
Name: Subscribers gained, Length: 122, dtype: int64

In [22]:
#clip
df.clip(50,100)

0       50
1       57
2       50
3       50
4       50
      ...
360    100
361    100
362    100
363    100
364    100
Name: Subscribers gained, Length: 365, dtype: int64

In [23]:
#drop duplicates
df.drop_duplicates()

0       48
1       57
2       40
3       43
4       44
      ...
357    177
359    209
360    231
361    226
363    144
Name: Subscribers gained, Length: 180, dtype: int64

In [24]:
df.duplicated().sum()

185

In [25]:
#isin
df[df.isin([45,98])]

21     45
78     98
211    98
Name: Subscribers gained, dtype: int64

In [26]:
#apply 
movie=pd.read_csv('movies.csv')

In [27]:
movie

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

In [28]:
df

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [29]:
df.apply(lambda x:'good day' if x > df.mean() else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

In [30]:
#copy
df

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [31]:
GROUP=['A','B','C','D','E']
MEMBERS=[67,98,67,90,65]
series1=pd.Series(MEMBERS,index=GROUP)

In [32]:
series1

A    67
B    98
C    67
D    90
E    65
dtype: int64

In [33]:
series2=series1 *  2

In [34]:
series2

A    134
B    196
C    134
D    180
E    130
dtype: int64

# Q. SERIES OBJECT IS SIZE MUTABLE?

In Python, a Series object typically refers to a data structure provided by the pandas library. In pandas, a Series is a 
one-dimensional labeled array capable of holding data of various types (integers, floats, strings, etc.). However, a Series 
object is not size mutable by design. Once you create a Series, you cannot change its size (i.e., the number of elements) 
directly.

For example, you can create a Series as follows:

In [35]:
import pandas as pd

data = [1, 2, 3, 4, 5]
series = pd.Series(data)

In [36]:
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

Once the Series is created, you cannot change its size by adding or removing elements like you can with a Python list. If you 
want to change the size or modify the contents of a Series, you typically create a new Series with the desired data or use 
various pandas methods to perform operations on the existing Series.

For example, to add elements to a Series, you would create a new Series by concatenating two Series:

In [37]:
new_data=[6,7]
new_series=pd.Series(new_data)
combined_series=series.append(new_series)
combined_series

0    1
1    2
2    3
3    4
4    5
0    6
1    7
dtype: int64

In Python, a DataFrame object, especially when referring to the pandas library, is indeed value mutable. This means that you 
can modify the data within a DataFrame after it has been created. A pandas DataFrame is a two-dimensional, size-mutable, and 
potentially heterogeneous tabular data structure with labeled axes (rows and columns).

In [38]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Modify a specific value in the DataFrame
df.at[1, 'Age'] = 31

# Add a new column
df['City'] = ['New York', 'San Francisco', 'Los Angeles']

# Update multiple values using boolean indexing
df.loc[df['Age'] > 30, 'Age'] = 36

# Delete a row
df = df.drop(0)

# Reset the index
df = df.reset_index(drop=True)

# Print the modified DataFrame
print(df)

      Name  Age           City
0      Bob   36  San Francisco
1  Charlie   36    Los Angeles

In [39]:
df

      Name  Age           City
0      Bob   36  San Francisco
1  Charlie   36    Los Angeles

In [40]:
index_col=[200,201,203,204]
numbers=[700,700,700,700]
series=pd.Series(numbers,index=index_col)
series

200    700
201    700
203    700
204    700
dtype: int64

In [41]:
sub=['IP','MATH','PHYSICS','CHEMISTRY']
MARKS=[78,98,89,78]
series=pd.Series(marks,index=sub)
series

IP           78
MATH         98
PHYSICS      89
CHEMISTRY    78
dtype: int64

In [42]:
series

IP           78
MATH         98
PHYSICS      89
CHEMISTRY    78
dtype: int64

In [43]:
series.index[0]

'IP'

In [44]:
new_series=series + 10
new_series

IP            88
MATH         108
PHYSICS       99
CHEMISTRY     88
dtype: int64